@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --dark-grey: #222831;
}

/* css reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

    body{
        background-color: rgb(243, 237, 237);
    }

    /* h1{
        text-align: center;
        color: #ffffff;
        font-size: 3rem;
        font-weight: 700;
        background-color: black;
        border-radius: 8px;
       
    }

    hr{
        border: 1px solid grey;
        margin: 12px;
    } */

